.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;
    border: 1px solid #e3e3e3;
    padding: 1rem;
}

.listPosts {
    display: flex;
    flex-direction: column;
}

.onePost {
    display: flex;
    flex-direction: row;
    justify-content: stretch; 
    align-items: center;
    align-content: center;

    padding: 0.4rem 0.5rem 0.4rem 0.5rem ;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
}

.onePost:last-child {
    border-bottom: none;
}

.id {
    min-width: 170px;
    max-width: 170px;
}

.title {
    min-width: 300px;
    width: 100%;
    margin: 0 1rem;
}

.onePost input {
    outline: none;
    border: none;
    font-size: 1.0rem;
    width: 100%;
    height: 100%;
    padding: 0.4rem;
}

.onePost input:hover {
    background-color: whitesmoke;
}

.deleteBtn {
    width: 50px;
    cursor: pointer;
    margin: 0 1rem;
}

.deleteBtn:hover {
    color: #646464;
}

.editBtn {
    cursor: pointer;
    padding: 0 1rem;
    width: min-content;
    padding: 0.3rem 0.5rem;
    margin-right: 0.5rem;
}

.editBtn:hover {
    color: white;
    background-color: cadetblue;
}

.updateBtn {
    width: 50px;
    cursor: pointer;
}

.updateBtn:hover {
    color: #646464;
}

.addBtn {
    width: max-content;
    cursor: pointer;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem ;
    border: 1px solid #e3e3e3;
    margin-top: 1rem;
}

.addBtn:hover {
    color: #646464;
    border: 1px solid #646464;
}