.wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    height: fit-content;
    border: 1px solid #e3e3e3;
    padding: 1rem;
}

.listPosts {
    display: flex;
    flex-direction: column;
}

.onePost {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;

    padding: 0.4rem 0.5rem 0.4rem 0.5rem ;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e3e3;
}

.onePost:last-child {
    border-bottom: none;
}

.id {
    width: 140px;
}

.title {
    width: 250px;
    margin: 0 1rem;
}

.onePost input {
    width: 100%;
}

.deleteBtn {
    width: 50px;
    cursor: pointer;
    margin: 0 1rem;
}

.deleteBtn:hover {
    color: #646464;
}

.editBtn {
    cursor: pointer;
    margin: 0 0 0 1rem;
}

.editBtn:hover {
    color: #646464;
}

.updateBtn {
    width: 50px;
    cursor: pointer;
}

.updateBtn:hover {
    color: #646464;
}

.addBtn {
    width: max-content;
    cursor: pointer;
    padding: 0.4rem 0.5rem 0.4rem 0.5rem ;
    border: 1px solid #e3e3e3;
}

.addBtn:hover {
    color: #646464;
    border: 1px solid #646464;
}