.wrap {

    .loginForm {
        display: flex;
        justify-content: space-between;
        position: relative;


        .message {
            position: absolute;
            margin: 0 1rem;
            top: 0px;
            left: 1rem;
            color: black;
            z-index: 10;
        }
    }

    .logoutForm {
        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }


    
    input {
        border: none;
        outline: none;
        background-color: ghostwhite;
        width: 100px;
        height: 100%;
        text-align: center;
        padding: 0.5rem;
        padding-bottom: 0.3rem;
        font-size: 1rem;
        border-radius: 0.2rem;
    }
}


.button {
    margin: 0 1rem;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }
}