.wrap {
    width: 100%;
    height: auto;
}

.img-normal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    padding: 5vw;

    .oneImg {
        margin: 5vw;

        img {
            width: 100%;
            height: 100%;
        }
    }
}

.img-cover {
    height: auto;
    width: 100%;
}

.img-wide {
    width: 100%;
    height: auto;
    min-height: 100vh;
    margin: 10vw 0;

    .oneImg {
        width: 100%;
    }
}