.wrap {
    width: 100%;
    height: auto;
}

.img-normal {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;

    padding: 5vw;
    color: darkgoldenrod;

    .oneImg {
        margin: 5vw;
    }
}

.img-cover {
    height: auto;
    width: 100%;
    color: blue;
}

.img-wide {
    width: 100%;
    height: auto;
    color: hotpink;

    .oneImg {
        width: 100%;
    }
}