.wrap {
    width: 100%;
}

.header {
    width: 100%;
    padding: 1rem;
    font-size: 1.4rem;
    position: fixed;
    top: 0px;
    left: 0px;

    .logo {
        position: relative;
        left: -100px;
        cursor: pointer;
        width: fit-content;
        color: cornflowerblue;
        transition: 0.2s all;
    }

    &:hover {

        .logo {
            left: 0px;
        }
    }
}

.content {
    width: 100%;
    min-height: 100vh;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #222222;
    color: ghostwhite;
    font-size: 1.3rem;
    padding: 1rem;
}

.login {

}

.madeBy {

}

.about {

}

.pixelPerfectIcon {
    position: fixed;
    top: 10px;
    left: 10px;
}

.pixelPerfectValue {
    
}