.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    width: 100%;
    background-color: rgba(0, 30, 58, 0.021);
}