.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 119, 231, 0.014);
}