.wrap {
    display: flex;
    justify-content: center;

    width: 100%;
    height: auto;
    padding: 4vw 0;

    .container {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        max-width: 1500px;
    }


    .oneCover {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        margin: 3vw 1vw;

        @media (min-width: 1500px) {
            width: 280px;
            height: 280px;
        }
    
        @media (min-width: 1200px) and (max-width: 1500px) {
            width: 320px;
            height: 320px;
            margin: 5vw 2vw;
        }
    
        @media (min-width: 950px) and (max-width: 1200px) {
            width: 380px;
            height: 380px;
            margin: 7vw 2vw;
        }
    
        @media (max-width: 950px) {
            width: 420px;
            height: 420px;
            margin: 15vw 12vw;
        }
    }
}