.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.title {
    font-size: 2rem;
    text-align: center;
    padding: 0rem 0rem 2rem 0rem;
}

.saveBtn {
    font-size: 1.4rem;
    padding: 0.4rem 1.5rem;
    border: 1px solid gainsboro;
    height: fit-content;
    width: fit-content;
    text-align: center;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

    &:hover{
        color: rgb(110, 110, 110);
        border: 1px solid gainsboro;
    }
}

.editor {
    display: flex;
    flex-direction: column;

    width: 100%;
    border-bottom: 1px solid rgb(155, 155, 155);

    textarea {
        width: 100%;
        outline: none;
        border: none;
        resize: none;
        padding: 1rem;
        font-size: 1rem;
    }
}

.onAddBtn {
    padding: 1rem;
    cursor: pointer;
    border-bottom: 1px solid gainsboro;

    &:hover {
        color: gainsboro;
    }
}