.wrap {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-bottom: 10vw;

    .title {
        display: flex;
        justify-content: center;

        position: absolute;
        top: 45vh;
        font-size: 3rem;
        width: 100%;
        z-index: 10;
        color: #fafcff;
    }

    .imgWrap {
        width: 100%;
        height: 100%;
    }
}